<h1>Oceny studenta: {{ student.imie }} {{ student.nazwisko }}</h1>

<table>
    <thead>
        <tr>
            <th>ID Oceny</th>
            <th>Wartość</th>
            <th>Data</th>
            <th>Przedmiot</th>
        </tr>
    </thead>
    <tbody>
        {% for ocena in oceny %}
            <tr>
                <td>{{ ocena.0 }}</td>
                <td>{{ ocena.1 }}</td>
                <td>{{ ocena.2 }}</td>
                <td>{{ ocena.3 }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="4">Brak ocen.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% if srednia_ocen >= 3 %}
    <p style="color: green; font-weight: bold;">zaliczone.</p>
{% else %}
    <p style="color: red; font-weight: bold;">niezaliczone.</p>
{% endif %}


{% if request.session.rola == 'nauczyciel' %}
    <h2>Dodaj ocenę</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj ocenę</button>
    </form>
{% endif %}
{% if messages %}
  <div>
    {% for message in messages %}
      <p>
        {{ message }}
      </p>
    {% endfor %}
  </div>
{% endif %}

