<h1>Oceny studenta: {{ student.imie }} {{ student.nazwisko }}</h1>

<table>
    <thead>
        <tr>
            <th>ID Oceny</th>
            <th>Wartość</th>
            <th>Data</th>
            <th>Przedmiot</th>
        </tr>
    </thead>
    <tbody>
        {% for ocena in oceny %}
            <tr>
                <td>{{ ocena.0 }}</td>
                <td>{{ ocena.1 }}</td>
                <td>{{ ocena.2 }}</td>
                <td>{{ ocena.3 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
